doctype html
html(lang='en-EN')
    head
        title my gulp
        meta(charset='UTF-8')
        meta(
            name='viewport'
            content='width=device-width, initial-scale=1.0'
        )

        link(
            rel='stylesheet'
            href='styles/index.css')

        script(src='/js/page.js' defer)

    body.page
        h1.title Вспоминаем pug и делаем свою сборку gulp 4

        .page__header
            i.icon.page__header-cat Welcome!

        #sweets-menu.menu.menu_open
            a(
                href='#'
                class='menu__title'
            )
                i.icon.menu__title-icon Menu

            ul.menu__list
                li Торт
                li Пончик
                li Пироженое
                li Шоколадка
                li Мороженое



        //script(src='js/libs.min.js')
        //script(src='js/main.min.js')
